*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chela One', cursive;
}

html,
body{
  
  background: linear-gradient(90deg, #56dbdb, #fce9fd, #56e9e9);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}